body {
	background-color: #E1E3E5;
}

.caja {
	width: 25em;
	height: auto;
	background-color: white;
	padding: 3em;
	margin: 5em 10em;
	margin-top: 2em;
	border-radius: 1.2em;
	box-shadow: 0 0 5px 2px rgba(0,0,0,.2);
}

.caja__titular {
	font-size: 1.5em;
	color: #4A4A4A;
}

.caja__parrafo {
	font-size: 1em;
}

.caja__boton {
	font-size: .875em;
	padding: .8em;
	color: #7fa84e;
	background-color: #c3e293;
	border: 2px solid #ebffd3;
	font-weight: bold;
}

.caja__boton--rojo {
	color: #a84e4e;
	border: 2px solid #ffd3d3;
	background-color: #e29e9e;
}